<a href="https://colab.research.google.com/github/Madandola/Python-Data-Analysis-Projects/blob/main/Day_1_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This is another title section

## This is the sub-section of the title

# This is the title of the section

In [1]:
!python --version

Python 3.12.12

In [2]:
print("kolawole")

kolawole

In [3]:
print(3.14)

3.14

In [4]:
print(30*3)

90

In [5]:
print("mt father's favourite car is toyota")

mt father's favourite car is toyota

In [6]:
print('My father\'s favourite car is Toyota')

My father's favourite car is Toyota

In [7]:
print("The itsy bitsy spider\nclimbed up the waterspout.")

print()

print("Down came the rain\nand washed the spider out.")

The itsy bitsy spider
climbed up the waterspout.

Down came the rain
and washed the spider out.

In [8]:
print(len("I am learning Python"))

20

In [9]:
print("\\")

print("2" + "3")

print(2 + 3)

print("2" + "3")

print(2 + 3)

\
23
5
23
5

# When used between string objects, + will behave like concatenation operator

## When used between numeric objects, + will behave like arithmetic operator

In [10]:


print("2", "3")

print("2", 3, True, 3.14)

2 3
2 3 True 3.14

In [11]:
print("2", 3, True, 3.14)
# this is an example of multiple arguments in Python

2 3 True 3.14

In [12]:
# this is an example of multiple arguments in Python
print("I" + "am"+"learning"+"Python")

IamlearningPython

In [13]:
my_name = "Kolawole"
print (my_name)

Kolawole

In [14]:
my_age =33
your_age =30
my_age=your_age # In this step value of your_age will be assigned to my age
print(my_age)

30

## Name rules



1.  Dont start with numbers
2.  Dont use space in variable name
3.  Dont start with uppercase
4.  You can only use_

##Input ()function

In [15]:
b= 10
print(b)

10

In [16]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 5
Enter the second number: 2
5.0 added to 2.0 is 7.0

In [17]:
# simple calculator
print("This is a simple calculator.")
number1 = input("Enter the first number: ")
number2 = input("Enter the second number: ")

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 2
Enter the second number: 6
2 added to 6 is 26

In [18]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

This is a simple calculator.
Enter the first number: 2
Enter the second number: 14
2.0 added to 14.0 is 16.0

In [19]:
# simple calculator
print("This is a simple calculator.")
# convert results of input function to integers
number1 = float(input("Enter the first number: ")) # input converted to float
number2 = float(input("Enter the second number: ")) # input converted to float
# float type conversion is safer. Because int function cant convert float to integer

print(number1, "added to", number2, "is", number1+number2)

print(number1, "divided by", number2, "is", number1/number2)

print(number1, "multiply by", number2, "is", number1*number2)

This is a simple calculator.
Enter the first number: 2
Enter the second number: 78
2.0 added to 78.0 is 80.0
2.0 divided by 78.0 is 0.02564102564102564
2.0 multiply by 78.0 is 156.0